@font-face {
	font-family: Spectral;
	src: url(Spectral/Spectral-ExtraLight.ttf);
}

.testF {
	border: 5px outset blue;
	background-color: green;
	text-align: center;
	height: 200px;
  	width: 50%;
}

html{
	font-size: 15px

}

body{
	font-family: Spectral;

	background-color: #000000;
	color: #ffffff;



}
