@font-face {
	font-family: Spectral;
	src: url(Spectral/Spectral-ExtraLight.ttf);
}

.testF {
	border: 5px outset lightgreen;
	background-color: grey;
	text-align: center;
	height: 500px;
  	width: 100%;
	font-size: 15px;
}

html{
	font-size: 15px;

}

body{
	font-family: Spectral;

	background-color: #000000;
	color: #ffffff;



}
