@font-face {
	font-family: Spectral;
	src: url(Spectral/Spectral-ExtraLight.ttf);
}


html{
	font-size: 15px;
}


body{
	font-family: Spectral;
	style="white-space:pre";
	background-color: #000000;
	color: #ffffff;
}



.testF {
	text-align: left;
	font-size: 10px;
	white-space: pre-wrap;
	white-space: pre-line;
	overflow-wrap: break-word;
	border: 1px outset lightgreen;
	background-color: grey;
}
